/* SettingView.css */

.setting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  flex-grow: 1;
  margin-bottom: 20px;
  margin-top: 60px;
  height: calc(100vh - 100px); /* Adjust 100px according to your design */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
  
th,
td {
  border: 1px solid #ddd;
  /* Border for the columns */
  padding: 8px;
  text-align: left;
  /* Left align the text */
}
  
th {
  background-color: #f2f2f2;
}

.portfolio-card {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Half transparent background */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.portfolio-card table {
  border-collapse: collapse;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.portfolio-card th,
.portfolio-card td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.portfolio-card th {
  background-color: #f2f2f2;
}

.value-input {
  width: 350px;
}

.weight-input {
  width: 80px;
}

td.remove-button-column {
  width: 50px;
}

.portfolio-button {
  padding: 8px 12px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.button-space {
  display: inline-block;
  width: 100px;
}

.remove-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; 
  border: none;
  cursor: pointer;
  color: #3498db;
  background-color: white;
}

.remove-button svg {
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .portfolio-card {
    font-size: 10px;
  }

  .portfolio-card table {
    font-size: 10px;
  }

  .portfolio-card th,
  .portfolio-card td {
    font-size: 10px;
  }

  .type-select {
    width: 100%;
    font-size: 10px;
  }

  .value-input {
    width: 100%;
    font-size: 10px;
  }

  .weight-input {
    width: 100%;
    font-size: 10px;
  }

  .remove-button-column {
    width: 100%;
    font-size: 10px;
  }

  .remove-button {
    font-size: 10px;
  }
}