/* Card.css */

.feed-card {
  max-width: 560px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  text-align: left;
}

.key-bubble {
  display: inline-block;
  background-color: #4285F4;
  color: #fff;
  border-radius: 8px;
  padding: 5px 10px;
  margin-right: 5px;
  font-size: 0.8em;
  font-weight: bold;
}

.youtube-container {
  margin-bottom: 10px;
  width: 100%;
}

/* Use media queries to adjust the styles for different screen sizes */
@media (min-width: 768px) {
  .youtube-container {
    max-width: 560px; /* Adjust max-width for desktop screens */
  }
}

.text-container {
  text-align: left;
  font-size: 14px;
}

.image-container {
  text-align: left;
  font-size: 14px;
}

.error-card {
  border: 2px solid #ff0000;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  background-color: #ffebeb;
}

.error-header {
  font-size: 18px;
  font-weight: bold;
  color: #ff0000;
  margin-bottom: 8px;
}

.error-content {
  color: #ff0000;
}

.weather-icon {
  width: 48px;
  height: 48px;
  display: block;
  margin: 0 auto; /* Align center */
}

/* Apply warm yellow color only to faSun icon */
.weather-icon-container svg.fa-sun {
  color: #f7941d;
}

.day-container {
  display: flex;
  justify-content: space-between;
}

.day {
  padding: 5px;
  text-align: center;
  justify-content: center;
  flex: 1; /* Equal width for each day box */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  border: 1px solid #ccc; 
  border-radius: 5px; 
  margin-left: 2px;
  margin-right: 2px;
}

.day-date {
  text-align: center;
  font-size: 12px;
}

.day-temperature {
  text-align: center;
  font-size: 14px;
}

.day-description {
  text-align: center;
  font-size: 10px; 
  white-space: normal;
}

/* Media query for mobile screens */
@media (max-width: 767px) {
  .feed-card {
    padding: 10px;
    margin-bottom: 10px;
  }

  .key-bubble {
    font-size: 0.7em;
    margin-right: 3px;
  }

  .text-container {
    font-size: 12px;
  }

  .image-container {
    font-size: 12px;
  }

  .error-card {
    padding: 12px;
    margin: 12px;
  }

  .error-header {
    font-size: 16px;
    margin-bottom: 6px;
  }

  .weather-icon {
    width: 32px;
    height: 32px;
  }

  .day-date {
    font-size: 10px;
  }
  
  .day-temperature {
    font-size: 12px;
  }
  
  .day-description {
    font-size: 8px; 
  }
}
