.color-testing {
  background-color: #4285f4;
  background-color: #76a7fa;
  background-color: #a0c3ff;
  background-color: #db4437;
  background-color: #e57368;
  background-color: #ed9d97;
  background-color: #f4b400;
  background-color: #f4cb43;
  background-color: #ffe168;
  background-color: #0f9d58;
  background-color: #33b679;
  background-color: #7bcfa9;
  background-color: #f2f2f2;
  background-color: #e6e6e6;
  background-color: #cccccc;
  background-color: #b3b3b3;
  background-color: #999999;
  background-color: #808080;
  background-color: #666666;
  background-color: #4d4d4d;
  background-color: #333333;
  background-color: #1a1a1a;
  background-color: #e7e6dd;
}

